<div class="slds-card via-slds-card--active slds-m-bottom--small" data-card="card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}"  data-embed-flyout=".embed-flyout">
  <div class="via-slds-card__header slds-card__header slds-grid slds-grid--vertical-align-center slds-p-around--medium" ng-click="performFlyout('card-'+cardIndex)">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-{{data.sprite}}-{{data.icon}}" title="description of icon when needed">
               <slds-svg-icon
                       sprite="data.sprite"
                       icon="data.icon"
                       size="'medium'"
                       no-hint="true"
                   ></slds-svg-icon> 
            </span>
          
      </div>
      <div class="slds-media__body slds-truncate">
        <a href="javascript:void(0);" class="slds-text-link--reset" tooltip-placement="bottom" tooltip="{{data.title}}">
          <span class="slds-text-heading--label"><span>{{obj | getter:data.fields[0] | picker:data.fields[0].type}}</span> </span>
        </a>
        <br />
        <span>{{data.fields[1].label}}: {{obj | getter:data.fields[1] | picker:data.fields[1].type}}</span> 
      </div>
    </div>
    <div class="slds-no-flex" ng-init="overflowActions = data.actions.slice(data.limitActvia-slds-cardvia-slds-cardvia-slds-cardionLinksTo?data.limitActionLinksTo:5)">
        <slds-dropdown content="overflowActions" ng-if="overflowActions.length > 0" icon-attribute="vlocityIcon" label-attribute="displayName" action-function="performAction(item)" button-size="medium"></slds-dropdown>
    </div>
  </div>
  <div class="slds-card__body via-slds-card__body slds-grid slds-wrap slds-theme--default slds-p-around--medium">
      <div class="slds-col--padded slds-size--1-of-2">
          <div class="slds-tile slds-p-bottom--medium" ng-repeat="field in data.fields.slice(2) " ng-show="key != 'attributes'">
            <p class="slds-truncate slds-text-heading--label" title="{{field.label}}">{{field.label}}</p>
            <div class="slds-tile__detail slds-text-heading--small ">
                <p class="slds-truncate" ng-if="!obj[field.relationshipName]">{{obj | getter: field | picker: field.type}}</p>
                <p class="slds-truncate" ng-if="obj[field.relationshipName]">{{obj[field.relationshipName]['Name']}}</p>
            </div>
        </div>
      </div>
      <div class="slds-col--padded slds-size--1-of-2">
          <div class="slds-tile slds-p-bottom--x-small slds-truncate" ng-repeat="action in data.actions | limitTo: (data.limitActionLinksTo?data.limitActionLinksTo:5)">
              <p class="slds-truncate slds-text-heading--label"> </p>
              <a href="javascript:void(0);" class="slds-truncate via-action-link" ng-click="performAction(action)">
                <span class="icon via-action-icon {{action.vlocityIcon}}" aria-hidden="true"></span>{{action.displayName}}
              </a>
          </div>
      </div>
  </div>
  <div class="slds-card__footer via-slds-card__footer slds-p-top--x-small embed-flyout"></div> 
</div>