<div class="slds-grid slds-grid--vertical assets-product-cart">

    <!--Tabs-->
    <div class="slds-col slds-no-flex assets-product-cart-global-tabs" ng-init="tabSelected = 'Assets'">
        <ul class="slds-tabs--default__nav assets-product-cart-tabs" role="tablist">
            <li class="slds-tabs--default__item slds-text-heading--label" title="Item One" role="presentation" ng-class="{'slds-active' : tabSelected === 'Assets'}" ng-click="tabSelected = 'Assets'; importedScope.changePricingView(importedScope.currentPricingView)">
                <a class="slds-tabs--default__link" href="#voi" role="tab" tabindex="0" aria-selected="tabSelected === 'Assets'" aria-controls="tab-default-1" id="tab-default-1__item">Assets</a>
            </li>

            <li class="slds-tabs--default__item slds-text-heading--label" title="Item One" role="presentation" ng-class="{'slds-active' : tabSelected === 'Promotions'}" ng-click="tabSelected = 'Promotions';  importedScope.changePricingView(importedScope.currentPricingView)" ng-show="$root.pricingViews.cpqPricingViews.length > 1" ng-if="attrs.promotionMode === 'on'">
                <a class="slds-tabs--default__link" href="#voi" role="tab" tabindex="0" aria-selected="tabSelected === 'Promotions'" aria-controls="tab-default-1" id="tab-default-1__item">{{::importedScope.customLabels.CPQPromotions}}</a>
            </li>
        </ul>
    </div> 
    <!--End Tabs--> 

    <!--The scroll Class is used for mobile devices -->
    <div class="slds-col assets-product-cart-items scroll" >
        <!--Assets Container-->
        <div ng-show="tabSelected === 'Assets'">
            <!--Custom View-->
            <div class="slds-clearfix">

                <div class="slds-float--left slds-picklist slds-dropdown-trigger slds-dropdown-trigger--click slds-is-open slds-m-around--small pricing-view-dropdown" ng-show="$root.pricingViews.cpqPricingViews" ng-if="attrs.pricingMode === 'on'">
                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-open">    
                        <button cpq-dropdown-handler="importedScope.viewOpen = false" id="assets-pricing-view-button" class="slds-button pricing-view-dropdown-button slds-button--neutral slds-picklist__label slds-p-right--small" aria-haspopup="true" ng-click="importedScope.viewOpen = !importedScope.viewOpen">
                            <slds-button-svg-icon sprite="'utility'" icon="'down'" extra-classes="'slds-m-top--x-small slds-float--right pricing-view-dropdown-button'"></slds-button-svg-icon>
                            <span class="slds-truncate" title="Select an Option">
                                <span ng-if="!importedScope.pricingViewLabel">{{$root.pricingViews.cpqPricingViews[1].name}}</span>
                                <span ng-if="importedScope.pricingViewLabel">{{importedScope.pricingViewLabel}}</span>
                            </span>
                        </button>
                        <div class="slds-dropdown slds-dropdown--left" ng-if="importedScope.viewOpen">
                            <ul class="slds-dropdown__list slds-dropdown--length-5" role="menu">
                                <li class="slds-dropdown__item" role="presentation" ng-repeat="pricingView in $root.pricingViews.cpqPricingViews" ng-click="importedScope.changePricingView($index)">
                                    <a ng-if="!$first" href="javascript:void(0);" role="menuitemcheckbox" tabindex="0">
                                        <span class="slds-truncate">{{pricingView.name}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
                <!--End Custom View-->

                <div class="slds-button-group slds-m-top--small slds-float--right slds-m-right--small" role="group">
                    <button class="slds-button slds-button--neutral" ng-click="importedScope.assetChangeToQuote(attrs.accountId, attrs.assetIncludeType)" ng-disabled="!$root.vlocityAssets.enableChangeToCartButton">
                        {{::importedScope.customLabels.ASSETChangeToQuote}}
                    </button>
                    <button class="slds-button slds-button--neutral" ng-click="importedScope.assetChangeToOrder()" ng-disabled="!$root.vlocityAssets.enableChangeToCartButton">
                        {{::importedScope.customLabels.ASSETChangeToOrder}}
                    </button>
                    <button class="slds-button slds-button--neutral" ng-click="importedScope.assetMove()" ng-disabled="!$root.vlocityAssets.enableMoveButton">
                        {{::importedScope.customLabels.ASSETMove}}
                    </button>
                </div>

            </div>

            <vloc-card ng-repeat="card in cards" ng-model="card" data="card" records="records" group-assets-by-contracts="{{attrs.groupAssetsByContracts}}" asset-include-type="{{attrs.assetIncludeType}}" account-id="{{attrs.accountId}}" index="{{$index}}" ng-if="isLoaded" is-last="{{$last}}"></vloc-card>
            
        </div>
        <!--End Assets Container-->  
       
        <!--Promotions Container-->
        <div class="slds-m-around--small" ng-show="tabSelected === 'Promotions'" ng-if="attrs.promotionMode === 'on'">
            Promotions Container
        </div>
        <!--End Promotions Container-->
    </div>
</div>