<div class="slds-card via-slds-card--horiz-open slds-m-bottom--small" data-card="card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}">
  <div class="slds-card__header via-slds-card__header slds-grid slds-wrap slds-p-bottom--medium slds-grid--vertical-align-center slds-theme--default" ng-click="performFlyout(obj.Id, 'card-'+cardIndex)">
      <div class="slds-truncate">
        <a href="javascript:void(0);" tooltip-placement="bottom" tooltip="{{data.actions[0].displayName}}">
            <i class="icon big {{data.actions[0].vlocityIcon}}"></i>
          <span class="slds-text-heading--small">
          {{data.actions[0].displayName}}</span>
        </a>
      </div>
        <div class=" " ng-repeat="action in data.actions.slice(1)" ng-class="{'slds-col--bump-left': $first, 'slds-m-left--medium': !$first}">
        <a href="javascript:void(0);" class="slds-button" ng-click="performAction(action)">{{action.displayName}}</a>
        </div>
  </div>
</div>