/*** CPQ Theme VARIABLES ***/
@import "cpq-theme-variables";

/*** MIXINS ***/
@import "cpq-mixin";

/*** STYLES ***/
.vlocity {
    .cpq-product-cart-order {
        background-color: $cpq-cart-total-bar-bg-color;
        color: $cpq-cart-container-bg-color;
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 8px;
        left: 8px;
    }
}