<div class="slds-grid slds-wrap slds-grid--pull-padded">
    <div class="slds-col--padded slds-size--1-of-1">
        <div class="slds-section">
            <div class="slds-section__title">
                <span>Please select a value from dropdown below:</span>
            </div>
            <div class="slds-form--stacked">
                <div class="slds-form-element">
                    <div class="slds-form-element__control slds-input-has-fixed-addon">
                        <div class="slds-select_container">
                            <select class="slds-select"
                                ng-options="record.Name for record in records.records track by record.Id"
                                ng-model="$root.selectedLookupItem"></select>
                        </div>
                        <span class="slds-form-element__addon">
                            <button class="slds-button slds-p-horizontal--xx-small" ng-click="importedScope.createNewInstanceFlag = true; importedScope.processCreateNewLookupAction(records.actions.newsite)">
                                <slds-button-svg-icon sprite="'utility'" icon="'add'"></slds-button-svg-icon>
                                <span class="slds-assistive-text">Create New Instance of Lookup Field</span>
                            </button>                  
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-col--padded slds-size--1-of-1" ng-if="importedScope.createNewInstanceFlag">
        <div class="slds-section">
            <div class="slds-section__title">
                <span>Please provide info below to create new instance</span>
            </div>
            <div class="slds-form--stacked">
                <div class="slds-form-element" ng-repeat="inputField in importedScope.createNewLookupInputFields" ng-if="inputField.editable">
                    <label class="slds-form-element__label">{{inputField.label}}</label>
                    <div class="slds-form-element__control">
                        <input type='text' ng-model='$root.createNewLookupInputFieldValue' ng-change="importedScope.refreshCreateNewLookupInputField(inputField)"/>
                    </div>
                </div>
                <div class="slds-form-element">
                    <button type="button" class="slds-button slds-button--neutral" ng-click="importedScope.createNewInstanceOfLookupField()">{{ ::'CreateNew' | localize: 'Create New' }}</button>
                </div>
                <div class="slds-form-element" ng-if="$root.createNewResultMsg">
                    <span>{{$root.createNewResultMsg}}</span>
                </div>
            </div>
        </div>
    </div>
</div>