<!-- FILTERS -->
<div class="slds-col cpq-items-container scroll cpq-filter-container" ng-if="importedScope.$parent.$parent.filters.show">
    <vloc-layout layout-name="cpq-product-filters" ctrl="CPQItemsController" parent=importedScope.$parent></vloc-layout>
</div>

<!-- CARDS -->
<div ng-if="!importedScope.$parent.$parent.filters.show">
    <div class="slds-spinner_container" ng-if="!isLoaded">
        <div class="slds-spinner--brand slds-spinner slds-spinner--medium" aria-hidden="false" role="alert">
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
        </div>
    </div>

    <vloc-card ng-repeat="card in cards |filter: searchFunc(card)" ctrl="CPQProductItemController" ng-model="card" data="card" 
        records="records" index="{{$index}}" session-id="{{sessionId}}" ng-if="isLoaded">
    </vloc-card>

    <div class="slds-grid slds-grid--vertical-align-center slds-grid--align-center cpq-no-products-msg" ng-show="!records && isLoaded">
        {{::importedScope.customLabels.CPQProductsNotAvailable}}
    </div>

    <div class="next-product slds-col slds-text-align--center slds-m-vertical--medium"  ng-if="session.nextProducts">
        <div class="slds-spinner_container" ng-if="loadingMore">
            <div class="slds-spinner--brand slds-spinner slds-spinner--small" aria-hidden="false" role="alert">
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
        <a ng-click="importedScope.nextPageProducts()" ng-if="!loadingMore">
          {{::importedScope.customLabels.CPQLoadMore}}
        </a>
    </div>
</div>
<!-- Adding several products at one is not supported for now
<div class="slds-col slds-no-flex">
    <div class="slds-grid cpq-product-actions">
        <button class="slds-col slds-button slds-button--brand"
        ng-click="importedScope.addProducts()"
        ng-disabled="importedScope.productsToAdd.length === 0">
            Add to cart
        </button>
        <button class="slds-col slds-button slds-button--brand"
        ng-click="importedScope.compare()"
        ng-disabled="importedScope.productsToCompare.length < 2">
            Compare
        </button>
    </div>
</div>
-->