<div class="slds-card via-slds-card--horiz slds-m-bottom--small" data-card="card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}" data-embed-flyout=".embed-flyout">
  <div class="slds-card__header via-slds-card__header slds-grid slds-p-bottom--medium">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
          <slds-svg-icon sprite="$root.cardIconFactory(obj.attributes.type.toLowerCase()).sprite" icon="$root.cardIconFactory(obj.attributes.type.toLowerCase()).icon" size="'medium'" extra-classes="'slds-icon-' + $root.cardIconFactory(obj.attributes.type.toLowerCase()).sprite + '-' + $root.cardIconFactory(obj.attributes.type.toLowerCase()).icon" no-hint="true"></slds-svg-icon> 
      </div>
      <div class="slds-media__body slds-truncate">
        <a href="javascript:void(0);" class="slds-text-link--reset" tooltip-placement="bottom" tooltip="{{data.title}}">
          <span class="slds-text-heading--small">{{data.title}}</span>
        </a>
        <br />
        <span class="expires slds-small-show">
            {{data.fields[0].label}}: {{obj | getter: data.fields[0] | picker: data.fields[0].type}}</span>
      </div>
    </div>
    <div class="slds-no-flex">
        <slds-dropdown content="data.actions" ng-if="data.actions.length > 0" label-attribute="displayName" action-function="performAction(item)"></slds-dropdown>
    </div>
  </div>
  <div class="slds-small-show slds-card__body via-slds-card__body sldsslds-grid slds-grid--vertical slds-theme--default slds-p-left--small slds-p-right--small">
    <div class="slds-col slds-col--padded slds-grid slds-wrap slds-grid--align-spread">
      <div class="slds-col--padded slds-size--1-of-6 slds-small-show slds-m-top--medium slds-p-bottom--small" ng-repeat="field in data.fields.slice(1, 6)" ng-show="key != 'attributes'">
          <div class="slds-truncate slds-text-heading--label" title="{{field.label}}">{{field.label}}</div>
          <div class="slds-truncate slds-text-heading--small" ng-if="!obj[field.relationshipName]">
              {{obj | getter: field | picker: field.type}}
          </div>
          <div class="slds-truncate slds-text-heading--small" ng-if="obj[field.relationshipName]">{{obj[field.relationshipName]['Name']}}
          </div>
      </div>
      <div class="slds-col--padded slds-small-show slds-m-top--medium slds-p-bottom--small">
        <button class="slds-button" ng-click="performFlyout('card-'+ cardIndex);">
          <slds-button-svg-icon sprite="'utility'" icon="'chevrondown'" no-hint="true" ng-if="!isSelected(cardIndex)"></slds-button-svg-icon>
          <slds-button-svg-icon sprite="'utility'" icon="'chevronup'" no-hint="true" ng-if="isSelected(cardIndex)"></slds-button-svg-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="embed-flyout slds-p-left--medium slds-p-right--medium"></div>
  <div class="slds-x-small-show-only via-slds-x-small-card__body slds-card__body slds-grid slds-grid--vertical slds-theme--default">
    <div class="slds-size--1-of-1 slds-x-small-show-only" ng-repeat="field in data.fields.slice(1, 6)" ng-show="key != 'attributes'">
      <div class="slds-grid via-slds-grid slds-p-around--small">
          <div class="slds-col slds-size--1-of-2">
              <p class="slds-text-align--left slds-truncate slds-text-heading--label" title="{{field.label}}">{{field.label}}</p>
          </div>
          <div class="slds-col slds-size--1-of-2" ng-if="!obj[field.relationshipName]">
              <p class="slds-text-align--right slds-truncate" >{{obj | getter: field | picker: field.type}}</p>
          </div>
          <div class="slds-col slds-size--1-of-2" ng-if="obj[field.relationshipName]">
              <p class="slds-text-align--right slds-truncate" >{{obj[field.relationshipName]['Name']}}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="slds-card__footer slds-x-small-show-only">
    <button class="slds-button" ng-click="performFlyout('card-'+ cardIndex);">
      <span ng-if="!isSelected(cardIndex)">View More</span>
      <span ng-if="isSelected(cardIndex)">View Less</span>
    </button>
  </div>
</div>