<div class='slds-col--padded slds-size--1-of-1'>
    <ng-form name='loopform'
             class='slds-form-element vlc-flex vlc-slds-radio-control'
             id="{{::control.name + $index}}"
             ng-repeat='control in child.eleArray'>

        <div class="slds-form-element__control">


            <label for="{{::control.name + $index}}" class='slds-form-element__label vlc-slds-inline-control__label'>

                <!-- tooltip template -->
                <a vlc-slds-tool-tip="test" nubbin="left" help="{{control.propSetMap.help}}"> i </a>

                <div vlc-slds-include="vlcLabelController.html"></div>

                {{::control.propSetMap.label}}

                <span class='vlc-asterix icon-v-asterix'
                      ng-show='control.req'>
                </span>  
                
            </label>
            
            <div horizontalMode='{{false !== control.propSetMap.horizontalMode}}' ng-include="'customRadioItem'"></div>

            <div class='vlc-slds-error-block'>
                <div class='error' ng-show='control.srvErr'>
                    <small ng-show='control.srvErr' class='description'>{{control.srvErr}}</small>
                </div>
            </div>

        </div>

    </ng-form>

</div>