<div class="slds-grid slds-grid--vertical cpq-sidebar-container scroll">
    <div class="slds-col slds-no-flex cpq-tabs-container" ng-if="$root.vlocityCPQ.features.enablePromotions">
        <fieldset class="slds-form-element">
          <div class="slds-form-element__control">
            <div class="slds-radio--button-group">
              <span class="slds-button slds-radio--button">
                <input name="radio" type="radio" id="cpq-product-items" checked=""  ng-click="importedScope.selectTab('products',filters)"/>
                <label class="slds-radio--button__label" for="cpq-product-items">
                  <span class="slds-radio--faux">{{::importedScope.customLabels.CPQProducts | uppercase}}</span>
                </label>
              </span>
              <span class="slds-button slds-radio--button">
                <input name="radio" type="radio" id="cpq-promo-items" ng-click="importedScope.selectTab('promos',filters);"/>
                <label class="slds-radio--button__label" for="cpq-promo-items">
                  <span class="slds-radio--faux">{{::importedScope.customLabels.CPQPromotions | uppercase}}</span>
                </label>
              </span>
            </div>
          </div>
        </fieldset>
    </div>            
    
    <div class="slds-col slds-no-flex slds-input-has-icon slds-input-has-icon--left cpq-searchbox" ng-show="importedScope.showList.products">
        <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'search'" extra-classes="'slds-input__icon slds-icon-text-default'"></slds-svg-icon>
        <input type="text" class="slds-input" placeholder="{{::importedScope.customLabels.CPQSearch}}" ng-model="importedScope.searchTerm" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" ng-change="importedScope.searchItems()" />
    </div>

    <div class="slds-col slds-no-flex cpq-filter-container" ng-show="importedScope.showList.products">
        <section class="slds-clearfix slds-text-body--small">
             <!-- REMOVED SORT BY NAME FILTER
            <div class="slds-float--left">
                <a>
                    {{::importedScope.customLabels.CPQSortByName | uppercase}}
                    <!--<span class="slds-icon_container">-->
                        <!-- <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'chevrondown'" extra-classes="'slds-icon-text-default'"></slds-svg-icon> -->
                    <!--</span>-->
              <!--
                </a>
            </div>
            -->
            <div class="slds-float--right">
                <a ng-click="filters.show = !filters.show">
                    {{::importedScope.customLabels.CPQFilter | uppercase}}
                    <span class="slds-icon_container">
                        <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'chevronup'" extra-classes="'slds-icon-text-default'" ng-show="filters.show"></slds-svg-icon>
                        <slds-svg-icon sprite="'utility'" size="'x-small'" icon="'chevrondown'" extra-classes="'slds-icon-text-default'" ng-show="!filters.show"></slds-svg-icon>
                    </span>
                </a>
            </div>
        </section>
    </div>
    
    <!-- PRODUCTS -->
    <div class="slds-col cpq-items-container scroll" ng-show="importedScope.showList.products">
     	<vloc-layout layout-name="cpq-product-list" ctrl="CPQItemsController"></vloc-layout> 
    </div>
    
    <!-- PROMOTIONS -->
    <div class="slds-col cpq-items-container scroll" ng-show="importedScope.showList.promos" ng-if="$root.vlocityCPQ.features.enablePromotions">
        <vloc-layout layout-name="cpq-promotions-list" ctrl="CPQItemsController"></vloc-layout>
    </div>

</div>