.vlocity {
.console-account-info {
    
    table {
        padding-right: 4px;
        td {
            strong {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
.spacer {
    background-color: rgb(255,255,255);
    height: 40px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    color: rgb(0,0,0);
    box-sizing: border-box;
    padding: 9px;
    width: inherit;
    border-top: 2px solid rgba(230,230,236,1);     
    border-bottom: 2px solid rgba(230,230,236,1); 
    cursor:pointer;
}
.spacer:hover {
    color: #05a6df;
}
.spacer i::before {
    color: rgb(19, 151, 219);
    font-size: 14px;
}
.acct-info {
    background-color: white;
}
.acct-info td {
    padding: 9px;
    font-size: 12px;
    vertical-align:top;
}
#mailing-address {
    text-transform: capitalize;
}
.acct-links {
    text-align: center;
    font-size: 10px;
    padding: 10px;
}
.acct-links a {
    color: rgb(19, 151, 219);
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

}
}