<div class="console-account-info" ng-init="showInfo = true">
<div class="spacer acct-spacer" ng-click="showInfo = !showInfo">
    Account <i class="icon-v-down-caret"></i>
</div>
<div class="acct-info" ng-show="showInfo">
    <table>
        <tr>
            <td><strong>Address:</strong></td> <td>{{records[0].BillingAddress.street}}<br/>{{records[0].BillingAddress.city}} {{records[0].BillingAddress.state}} {{records[0].BillingAddress.postalCode}}</td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td> <td>{{records[0].Phone}}</td>
        </tr>
    </table>
    <div class="acct-links">
        <!--<a id="edit-acct" href="" ng-click="alert('ok');">EDIT ACCOUNT</a> | <a href="">CHANGE ADDRESS</a> | <a href="">MORE...</a>-->
        <span ng-repeat="action in data.actions | limitTo: (data.limitActionLinksTo?data.limitActionLinksTo:3)">
            <a href="#" ng-click="performAction(action)" >{{action.displayName}}</a> 
            <span class="separator" ng-if="!$last">|</span>
        </span>
    </div>
</div>
</div>