/*** CPQ Theme VARIABLES ***/
@import "cpq-theme-variables";

/*** MIXINS ***/
@import "cpq-mixin";

/*** STYLES ***/
.vlocity {
    .cpq-product-cart {
        position: absolute;
        top: 0;
        right: $cpq-padding-large-horizontal/2;
        bottom: 0;
        left: $cpq-padding-large-horizontal/2;
        height: calc(100% - 80px);

        .errors-container-sticky {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 31px; /* fix for Firefox */
            .border-radius{
                border-radius: 4px 4px 0 0;
            }
        }
        .cart-container-padding{
            padding-top: 40px;
        }
        .cart-errors {
            padding: $cpq-padding-large-vertical $cpq-padding-large-horizontal;
            color: white;
            h2 {
                font-size: 14px;
            }
            a {
                text-decoration: none;
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.25;
                background-color: inherit;
            }
            .slds-button{
                line-height: 1.25;
                color: white;
            }

        }
    }
    .cpq-product-cart-tabs {
        margin-top: $cpq-cart-container-tabs-top-margin;
    }
    .cpq-product-cart-items {
        background-color: $cpq-product-cart-items-bg-color;
        overflow-y: auto;
        .cpq-product-cart-items-tab-content {
            padding-top: 0px; //slds override
            .cpq-no-cart-items-msg {
                padding: $cpq-padding-large-vertical*4 $cpq-padding-large-vertical;
            }
        }
        .next-product {
            padding: $cpq-padding-large-vertical;

            .slds-spinner_container {
                position: relative;
                padding-top: 10px;
            }
        }
    }

    .fix-slds-close-switch {
        transform: rotate(-90deg);
    }
}