<fieldset class="slds-form-element slds-size--1-of-1 slds-text-align--center slds-m-bottom--small">
    <span class="slds-radio slds-size--1-of-4">
      <input type="radio" id="radio-1954" name="options" checked="" />
      <label class="slds-radio__label" for="radio-1954">
        <span class="slds-radio--faux"></span>
        <span class="slds-form-element__label">Precent</span>
      </label>
    </span>
    <span class="slds-radio slds-size--1-of-4">
      <input type="radio" id="radio-1955" name="options" />
      <label class="slds-radio__label" for="radio-1955">
        <span class="slds-radio--faux"></span>
        <span class="slds-form-element__label">Amount</span>
      </label>
    </span>
</fieldset>
<div class="slds-form-element slds-text-align--center slds-m-top--small">
  <div class="slds-form-element__control">
    <input type="text" id="text-input-01" class="slds-input  slds-size--1-of-3" placeholder="Placeholder Text" />
    <label class="slds-form-element__label slds-p-left--small slds-size--1-of-16 slds-text-align--left" for="text-input-01">USD</label>
  </div>
</div>