<div class="slds-grid cpq-base-header-card">
    <div class="slds-col slds-has-flexi-truncate">
        <div class="slds-media">
            <div class="slds-media__figure" ng-if="obj['Account.PhotoUrl']">
                <img class="slds-icon slds-icon--large" src="{{obj['Account.PhotoUrl']}}" />
            </div>
            <div class="slds-media__figure" ng-if="!obj['Account.PhotoUrl']">
              <slds-svg-icon sprite="'standard'" size="'large'" icon="'opportunity'" extra-classes="'slds-icon-standard-opportunity'" ng-if="obj.ObjectType === 'Opportunity'"></slds-svg-icon>
              <slds-svg-icon sprite="'standard'" size="'large'" icon="'quotes'" extra-classes="'slds-icon-standard-quotes'" ng-if="obj.ObjectType === 'Quote'"></slds-svg-icon>
              <slds-svg-icon sprite="'standard'" size="'large'" icon="'orders'" extra-classes="'slds-icon-standard-orders'" ng-if="obj.ObjectType === 'Order'"></slds-svg-icon>
            </div>
            <div class="slds-media__body">
                <div class="slds-grid">
                    <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="{{::obj.Name}}">{{::obj.Name}}</h1>
                </div>
                <span class="slds-text-body--small slds-page-header__info"  
                    ng-repeat="field in data.fields">
                   {{obj | getter: field | picker: field.type}}
                   
                   <span ng-if="!$last" class="separator">"</span>
                </span>
            </div>
        </div>
    </div>
    <div class="slds-col slds-no-flex slds-align-top">
        <div class="slds-button-group" role="group">
            
            <button class="slds-button slds-button--neutral"
                   ng-repeat="action in data.actions | limitTo: 2"
                   ng-click="performAction(action)"
                  id="{{idPrefix}}-import-btn" 
                  title="{{action.displayName}}">
              {{action.displayName}}
            </button>
            
          <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last" ng-class="{'slds-is-open': isOpen}" type="'button-group'" aria-expanded="true" ng-if="data.actions.length > 2">
              
          <button cpq-dropdown-handler="isOpen = false" class="slds-button slds-button--icon-border-filled" aria-haspopup="true" ng-click="isOpen = !isOpen"
            id="{{idPrefix}}-toggle" title="Show More">
            <slds-button-svg-icon size="type === 'button-group' ? null : 'small'" sprite="'utility'" icon="'down'" ></slds-button-svg-icon>
            <span class="slds-assistive-text">Show More</span>
          </button>
          
          <div class="slds-dropdown slds-dropdown--down slds-dropdown--actions fix--slds-dropdown-to-btn">
            <ul class="dropdown__list" role="menu">
               <li class="slds-dropdown__item" ng-repeat="action in data.actions" 
               ng-if="$index >= 2">
                <a role="menuitem" 
                    ng-href="#"
                    ng-click="performAction(action)"
                    title="{{action.displayName}}">
                  <p class="slds-truncate">
                    <slds-svg-icon size="'x-small'" extra-classes="'slds-m-right--x-small'"  sprite="item.icon(this).sprite" icon="item.icon(this).icon" ng-show="item.icon(this).icon"></slds-svg-icon>
                    {{action.displayName}}
                  </p>
                </a>
              </li>
            </ul>
          </div>
          
        </div>
        
        </div>
    </div>
</div>